/* for home */
@keyframes btnTransition { 
    0% {
        transform: translateX(110vw);
    }
    100% {
        transform: translateX(0);
    } 
}

@keyframes validationY {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes buttonSmoothFill {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}


/* for requests page */

@keyframes translateY {
    100% {
        transform: translateY(150vh);
    }
} 

 /* first wing */
 @keyframes wingPosition {
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(25vw) rotate(90deg);
    }
    100% {
        transform: translateX(25vw) rotate(90deg);
    }
  }
  @keyframes wingSwiftRight {
    0% {
        transform: translateX(25vw) rotate(90deg);
    }
    14.29% {
        transform: translateX(25vw) rotate(70deg);
    }
    28.6% {
        transform: translateX(25vw) rotate(90deg);
    }
    42.9% {
        transform: translateX(25vw) rotate(110deg);
    }
    57.14% {
        transform: translateX(25vw) rotate(90deg);
    }
    71.42% {
        transform: translateX(25vw) rotate(70deg);
    }
    86% {
        transform: translateX(25vw) rotate(90deg);
    }
    100% {
        transform: translateX(25vw) rotate(110deg);
    }
  }
  /* second wing */
  @keyframes wingPosition2 {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    100% {
        transform: translateX(-5vw) rotate(-90deg);
    }
  }
  @keyframes wingSwiftLeft {
    0% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    14.29% {
        transform: translateX(-5vw) rotate(-70deg);
    }
    28.6% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    42.9% {
        transform: translateX(-5vw) rotate(-110deg);
    }
    57.14% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    71.42% {
        transform: translateX(-5vw) rotate(-70deg);
    }
    86% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    100% {
        transform: translateX(-5vw) rotate(-110deg);
    }
  }

  
/* animations for each breakpoint */
@keyframes wingPosition3 {
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(70vw) rotate(90deg);
    }
    100% {
        transform: translateX(30vw) rotate(90deg);
    }
  }
  @keyframes wingSwiftRight1 {
    0% {
        transform: translateX(30vw) rotate(90deg);
    }
    14.29% {
        transform: translateX(30vw) rotate(70deg);
    }
    28.6% {
        transform: translateX(30vw) rotate(90deg);
    }
    42.9% {
        transform: translateX(30vw) rotate(110deg);
    }
    57.14% {
        transform: translateX(30vw) rotate(90deg);
    }
    71.42% {
        transform: translateX(30vw) rotate(70deg);
    }
    86% {
        transform: translateX(30vw) rotate(90deg);
    }
    100% {
        transform: translateX(30vw) rotate(110deg);
    }
  }
  /* second wing */
  @keyframes wingPosition4 {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(0vw) rotate(-90deg);
    }
    100% {
        transform: translateX(0vw) rotate(-90deg);
    }
  }
  @keyframes wingSwiftLeft1 {
    0% {
        transform: rotate(-90deg);
    }
    14.29% {
        transform: rotate(-70deg);
    }
    28.6% {
        transform: rotate(-90deg);
    }
    42.9% {
        transform: rotate(-110deg);
    }
    57.14% {
        transform: rotate(-90deg);
    }
    71.42% {
        transform: rotate(-70deg);
    }
    86% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-110deg);
    }
  }

/* animations for each breakpoint */
@keyframes wingPosition5 {
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(30vw) rotate(90deg);
    }
    100% {
        transform: translateX(30vw) rotate(90deg);
    }
  }
  @keyframes wingSwiftRight2 {
    0% {
        transform: translateX(70vw) rotate(90deg);
    }
    14.29% {
        transform: translateX(70vw) rotate(70deg);
    }
    28.6% {
        transform: translateX(70vw) rotate(90deg);
    }
    42.9% {
        transform: translateX(70vw) rotate(110deg);
    }
    57.14% {
        transform: translateX(70vw) rotate(90deg);
    }
    71.42% {
        transform: translateX(70vw) rotate(70deg);
    }
    86% {
        transform: translateX(70vw) rotate(90deg);
    }
    100% {
        transform: translateX(70vw) rotate(110deg);
    }
  }
  /* second wing */
  @keyframes wingPosition6 {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(70vw) rotate(-90deg);
    }
    100% {
        transform: translateX(0vw) rotate(-90deg);
    }
  }
  @keyframes wingSwiftLeft2 {
    0% {
        transform: rotate(-90deg);
    }
    14.29% {
        transform: rotate(-70deg);
    }
    28.6% {
        transform: rotate(-90deg);
    }
    42.9% {
        transform: rotate(-110deg);
    }
    57.14% {
        transform: rotate(-90deg);
    }
    71.42% {
        transform: rotate(-70deg);
    }
    86% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-110deg);
    }
  }