.header-middle {
    text-align: center;
}
.position-absolute {
    position: absolute !important;
  }
  
  .top-0 {
    top: 0 !important;
  }
  
  .start-50 {
    left: 50% !important;
  }
  
  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
  
  .bg-danger {
    background-color: #dc3545 !important;
    color: #fff !important;
  }
  .position-relative {
    position: relative !important;
  }