html {
    margin: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
}
/* colors  */
.primary{
    padding: 1rem;
    background-color: #DCDCDC;
}
.primary-container{
    padding: 0.2rem;
    background-color: #C0C0D0;
}
.surface {
    position: relative;
    margin-top: 1rem;
    background: gray;
    background-image: url(../../assets/images/formsback.avif), url(../../assets/images/formsback2.avif);
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 0%, 0% 0%;
    background-size: 50% 100%, 0%;  
    /* transform: scaleX(-1); */
}
.surface::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/images/formsback2.avif);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 50% 100%;
    transform: scaleX(-1);
  }
/* general rules */
a:hover, button:hover {
    transform: scale(1.1);
    cursor: pointer;
} 
ul {
    list-style-type: none;
}
a:hover {
    position: relative;
}
button {
    border-radius: 20%;
}
picture {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input {
    border-radius: 1rem;
    text-align: center;
    background: linear-gradient(rgb(255,250,250)
    , rgb(211,211,211));
}
ul > * {
    padding: 1rem;
}
/* class selectors rules  */
.bullet {
    background-color: yellow;
   list-style-type: armenian; 
}
.front {
    z-index: 2;
}
.w-30 {
    width: 30%;
}
.middle {
    margin: 1rem auto 1rem auto;
}
.underline{
    height: 0.1rem;
    border-radius: 1rem;
    background: linear-gradient(yellow, gold);
    position: absolute;
}
.flex-row {
    justify-content: space-between;
    gap: 1rem;
    display: flex;
}
.flex-column {
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    display: flex;
}
/* id selectors rules */
#pass-val-sten, #pass-val-long, #pass-val-limit  {
    display: block;
    animation: none;
}
/* animations section */
button:hover {
    background: linear-gradient(90deg, white, gold);
    background-size: 200% 100%; /* Make sure the background is twice as wide as the button */
    animation: buttonSmoothFill 1s infinite alternate !important;
}
@keyframes buttonSmoothFill {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes btnTransition { 
    0% {
        transform: translateX(110vw);
    }
    100% {
        transform: translateX(0);
    } 
}

@keyframes validationY {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}
