/* request angel shape */
html {
    overflow-x: hidden;
}
body {
    width: 100vw;
}
/* 
#ellipse {
    margin: auto;
    width: 20vw;
    height: 90vh;
    border: 0.2rem solid black;
    border-radius: 100%;
    position: relative;
    background-color: rgba(255, 0, 0, 0.3);
}
#ellipse::before,
#ellipse::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 5vw;
  height: 60vh;
  border: 0.2rem solid black;
  border-radius: 100%;
  background-color: red; 
}

#ellipse::before {
    visibility: hidden;
    animation: wingPosition2 2s 1 forwards, 
    wingSwiftLeft 2s infinite forwards 1s;    
    left: -5vw;
  }

  #ellipse::after {
    visibility: hidden;
    animation: wingPosition 2s 1 forwards, 
    wingSwiftRight 2s infinite forwards 1s;
    right: -20.5vw;
  } */

  /* fly animation 
  /* first wing */
  /* @keyframes wingPosition {
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(25vw) rotate(90deg);
    }
    100% {
        transform: translateX(25vw) rotate(90deg);
    }
  }
  @keyframes wingSwiftRight {
    0% {
        transform: translateX(25vw) rotate(90deg);
    }
    14.29% {
        transform: translateX(25vw) rotate(70deg);
    }
    28.6% {
        transform: translateX(25vw) rotate(90deg);
    }
    42.9% {
        transform: translateX(25vw) rotate(110deg);
    }
    57.14% {
        transform: translateX(25vw) rotate(90deg);
    }
    71.42% {
        transform: translateX(25vw) rotate(70deg);
    }
    86% {
        transform: translateX(25vw) rotate(90deg);
    }
    100% {
        transform: translateX(25vw) rotate(110deg);
    }
  }
  /* second wing */
  /* @keyframes wingPosition2 {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    100% {
        transform: translateX(-5vw) rotate(-90deg);
    }
  }
  @keyframes wingSwiftLeft {
    0% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    14.29% {
        transform: translateX(-5vw) rotate(-70deg);
    }
    28.6% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    42.9% {
        transform: translateX(-5vw) rotate(-110deg);
    }
    57.14% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    71.42% {
        transform: translateX(-5vw) rotate(-70deg);
    }
    86% {
        transform: translateX(-5vw) rotate(-90deg);
    }
    100% {
        transform: translateX(-5vw) rotate(-110deg);
    }
  } */

  @keyframes translateY {
    100% {
        transform: translateY(150vh);
    }
  } 


/* rocket shape animation trial */
#ellipse { 
    margin: auto;
    width: 20vw;
    height: 90vh;
    border: 0.2rem solid black;
    border-radius: 100%;
    position: relative;
    background-color: rgba(255, 0, 0, 0.3);; 
    clip-path: polygon(50% 18%, 100% 15%, 100% 100%, 0 100%, 0 15%);
 } 
#ellipse::before,
#ellipse::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20vw;
  height: 30vh;
  border-left: 0.2rem solid black;
  transform: rotate(138deg);
  border-radius: 100%;
  /* background-color: red;  */
}

#ellipse::before {
    left: calc(100% - 26vw);

 }

  #ellipse::after {
    /* clip-path: polygon(50% 0%, 100% 0%, 50% 50%, 0 100%); */
    left: calc(100% - 20vw);
  }

#rocketCount {
    position: absolute;
    top: 50%;
    left: 50%;
}  
#cardContainer {
    position: relative;
}

  .line-container {
    position: absolute;
    top: 12vh;
    left: 50%;
    width: 8vw;
    height: 0.2rem;
    background-color: #000;
    transform-origin: 0% 0%;
    /* transform: rotate(-10deg); */
  }

  .fireCloud {
    position: absolute;
    top: -8vh;
    left: calc(50% - 10vw);
    width: 20vw;
    height: 5rem;
    background-color: orangered;
    transform-origin: 0% 0%;
    border-radius: 100%;
  }